{% extends "base.html" %}

{% block title %}Ingresar Turno{% endblock %}
{% load static %}
{% block extra_meta %}
<meta name="url-enviar-fecha" content="{% url 'Turnos:enviar_fecha' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ingresarTurno.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-container">
        <!-- Encabezado -->
        <div class="form-header">Nuevo Turno</div>

        <!-- Formulario -->
        <form id="turnoForm" method="post" action="{% url 'Turnos:ingresar_turno' %}">
            {% csrf_token %}
            
            <!-- Campo Cliente -->
            <label for="id_cliente">Cliente:</label>
            <div><p>{{ tform.idCliente }}</p></div>
            
            <!-- Campo Fecha de turno -->
            <label for="id_fechaTurno">Fecha de turno:</label>
            <div><p>{{ tform.fechaTurno }}</p></div>
            
            <!-- Campo Hora de turno -->
            <label for="id_horaTurno">Hora de turno:</label>
            <div><p>{{ tform.horaTurno }}</p></div>
            {% if tform.horaTurno.errors %}
                <div class="error">{{ tform.horaTurno.errors }}</div>
            {% endif %}
            
            <!-- Campo Selección de Servicios -->
            <label for="id_servicios">Seleccione uno o más servicios:</label>
            <div><p>{{ tform.servicios }}</p></div>
            {% if tform.servicios.errors %}
                <div class="error">{{ tform.servicios.errors }}</div>
            {% endif %}
            
            <!-- Footer con botones -->
            <div class="form-footer">
                <button type="button" class="cancel-btn" onclick="window.location.href='{% url 'Turnos:listar_turnos_por_dia' %}'">
                    <ion-icon name="close-circle"></ion-icon> Cancelar
                </button>                
                <button type="submit" class="add-btn">
                    <ion-icon name="checkmark-circle"></ion-icon> Agregar Turno
                </button>
            </div>

            {% if tform.non_field_errors %}
            <div class="error">
                <ul>
                    {% for error in tform.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/ingresarTurno.js' %}"></script>
<script src="{% static 'js/select2-init.js' %}"></script>
{% endblock %}
