{% extends "base.html" %}

{% block title %}Modificar Servicio{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modificarServicio.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-container">
        <!-- Encabezado -->
        <div class="form-header">Modificar Servicio</div>

        <!-- Formulario -->
        <form method="post">
            {% csrf_token %}
            
            <!-- Campos del formulario -->
            <div>{{ sform.as_p }}</div>

            <!-- Botones de acción -->
            <div class="form-footer">
                <button type="button" class="cancel-btn" onclick="window.history.back();">
                  <ion-icon name="close-circle"></ion-icon>Volver</button>
                <button id="guardar_cambios" type="submit" class="add-btn">
                  <ion-icon name="checkmark-circle"></ion-icon>Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
